.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  border-bottom: 1px solid #baaea3;
}

.navbar {
  padding: 30px 15px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 15px;
}

.navLink {
  font-size: large;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 250ms ease-in-out;
}

.navLink:hover,
.navLink:focus {
  color: #a27065;
}
