.list {
    padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemLink {
  font-size: medium;
  text-transform: uppercase;
  transition: color 250ms ease-in-out;
}

.itemLink:hover,
.itemLink:focus {
  color: #a27065;
}
